<div>
    <%= form_for @article do |f| %>
        <div>
            <div>
                <%= f.label :title %>
                <%= f.text_field :title, placeholder: "Title", autofocus: true %>
            </div>
            <div>
                <%= f.label :content %>
                <%= f.text_area :content, placeholder: "Content", autofocus: true %>
            </div>
            <div>
                <%= f.label :image %>
                <%= f.file_field :image %>
            </div>
            <div>
                <%= f.label :geology_article %>
                <%= f.check_box :geology_article %>
            </div>
            <div>
                <%= f.label :music_article %>
                <%= f.check_box :music_article %>
            </div>
            <div>
                <%= f.submit %>
            </div>
        </div>
    <% end %>
</div>